/* STILI GENERALI */

body {
  font-family: Georgia, serif;
}

hr {
  height: 1px;
  border: none;
  background-color: rgb(0, 170, 255);
}

h4 {
  font-weight: 800;
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
}

h1 {
  margin-bottom: 30px;
  font-size: 2em;
}

/* HEADER */

header {
  padding: 15px;
  text-align: center;
}
#logo img {
  width: 20%;
  padding-bottom: 20px;
}

#bg-yellow {
  background-color: #fdfbf1;
  border-top: 2px solid #ffdb83;
}

#bg-yellow p {
  color: #107777;
  padding-bottom: 18px;
}

#bg-yellow p span {
  font-weight: 900;
  text-transform: uppercase;
}

/* ARTICLE */

article {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

figure {
  text-align: center;
  margin: 0 auto;
}

figure img {
  width: 100%;
  border-radius: 20px;
}

figure p {
  text-align: left;
  font-size: larger;
}

figcaption {
  color: gray;
}

#featured-a {
  padding-left: 15px;
  text-align: left;
  color: rgb(178, 55, 55);
  border-left: 2px solid #ffdb83;
}

#featured-a span {
  text-transform: uppercase;
}

/* TESTO ARTICOLO */

.article-txt {
  text-align: left;
}

/* FOOTER */
footer {
  text-align: left;
}
